.header{
	width: 100%;
	height: 500px;

	margin-top: -5%;

}

.main h1{
	color: #fff;
	font-size: 4em;
	font-weight: bold;
	font-family: sans-serif;
	background-size: cover;
	padding-top: 17%;
	text-shadow: 4px 2px 4px black;
}

.introduction {
    height:100vh;
    width: 100%;
    background: url('https://images.unsplash.com/photo-1493689485253-f07fcbfc731b?auto=format&fit=crop&w=1333&q=80') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.introduction p {
	color: white;
	text-shadow: 4px 2px 4px black;

}
.thumbnail img {
 	height: 180px;
}
.topOffers .thumbnail{
	border:0;
}

.carousel-indicators{
	margin-bottom: 10px;

}
.carousel-indicators li{
	border-color: #ccc;
}
.carousel-indicators .active{
	background-color: #ccc;
}
.btn-primary a {
	color: #fff;
}

.jumbotron {
	background: none;
}
