.wishlist i {
  margin: 0 30px;
  padding: 5px;
  background: red;
  color: white;
  position: absolute;
  right: 0;

}

.wishlist {
  margin: 10px auto;

}
.consumer_wishlist h1{
  text-transform: uppercase;
}


.wishlist li {
  width: 35%;
  margin: 0 auto;
  position: relative;
  font-size: 14px;
  margin-bottom: 15px;
  text-align: left;
  text-transform: capitalize;

}


@media (max-width: 700px){
  .wishlist li{
    width: 300px;

  }
}
