.tab-content {
  margin-top: 5%;
}

.secondary-header {
  background: #d9e0d2;
  padding-top: 18px;
  padding-bottom: 18px;
  margin-top: 0;
  margin-bottom: 0;
  z-index: 1;
  text-transform: uppercase;
}

.ant-menu-item:first-of-type {
  margin-top: 0;
}
